html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  color: white;
  background-image: linear-gradient(103.3deg,  rgb(235, 194, 169) 30%, rgba(255,173,214,1) 55.7%, rgb(154, 132, 190) 81.8%); 
  font-family: 'Courier New', Courier, monospace; 
}

span {
  color: #ca3113;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(103.3deg, rgb(154, 132, 190) 30%, rgba(255,173,214,1) 55.7%, rgb(235, 194, 169) 81.8%); 
  padding: 20px 80px;
  margin-left: 30px;
  width: 100%;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
  flex: 1;
}

#navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(154, 132, 190);
  transition: 0.5s ease-in-out;
}

#navbar li a:hover {
  color: white;
}

.nav-logout-button,
.nav-login-button {
  border: none;
  background-color: rgb(154, 132, 190);
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  color: white;
  transition: 0.5s ease-in-out;
}

.nav-logout-button:hover,
.nav-login-button:hover {
  background-color: rgba(255,173,214,1);
  color: rgb(154, 132, 190);
}

.landing-page-container {
  padding: 5rem; 
  border: 1px solid #7c018f; 
  border-radius: 1rem;
  color: #7c018f;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-page-banner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.landing-page-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.landing-page-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #a703c0;
  max-width: 600px;
  white-space: nowrap;
  text-align: center;
}

.landing-page-paragraph {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #621397;
  margin: 1.5rem 0rem;
  text-align: center;
}

.how-button {
  padding: 1rem 2.5rem;
  background-color: rgba(255,173,214,1);
  border: none;
  border-radius: 5rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  color: #a703c0;
  transition: 0.5s ease-in-out;
}

.how-button:hover {
  background-color: rgb(154, 132, 190);
  color:White;
}

.about-container {
  padding: 6rem; 
  border: 1px solid #7c018f; 
  border-radius: 1rem;
  color: #7c018f;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about-heading1 {
  font-size: 2rem;
}

.about-heading2 {
  font-size: clamp(1.5rem, 4vw, 4rem);
  color: #a703c0;
  max-width: 600px;
  white-space: nowrap;
}

.about-paragraph {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #621397;
  margin: 1.5rem 0rem;
  text-align: center;
}

.more-button {
  padding: 1rem 2.5rem;
  background-color: rgb(154, 132, 190);
  border: none;
  border-radius: 5rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  color: #621397;
  transition: 0.5s ease-in-out;
}

.more-button:hover {
  background-color: #a703c0;
  color: white;
}

.features-container {
  margin-top: 90px;
}

.features-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.features-heading1{
  text-align: center;
  color:#621397;
  font-size: 1.9rem;
  margin-top:10px;
}

.features-heading2 {
  max-width: 700px !important;
  color:#a703c0;
}

.features-paragraph {
  text-align: center;
  max-width: 600px !important;
  color:#621397;
  font-size: 1rem;
}

.features-bottom {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.features-info {
  width: 290px;
  min-height: 350px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color:#a703c0;
  margin: 1rem 2rem;
  position: relative;
  border: 1px solid #7c018f; 
  border-radius: 10px;
  margin: 0.7rem;
  color: #7c018f;
}

.features-info h2 {
  margin: 1rem 0rem;
}

.features-info p {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: 600;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.login-container, 
.login-form,
.register-container,
.register-form,
.create-pipe-container,
.create-pipe-form, 
.create-project-form,
.create-project-container {
  display: flex;
  flex-direction: column;
}

.login-container,
.register-container,
.create-pipe-container,
.create-project-container {
  padding: 5rem; 
  border: 1px solid #7c018f; 
  border-radius: 10px;
  margin: 0.5rem;
  color: #7c018f;
  margin-top: 100px;
}

.login-button,
.register-button,
.create-pipe-button,
.create-project-button {
  border: none;
  background-color: #7c018f;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: 0.5s ease-in-out;
}

.login-button:hover,
.register-button:hover,
.create-pipe-button:hover,
.create-project-button:hover {
  background-color: rgb(154, 132, 190);
}

.login-link,
.register-link {
  color: #a703c0;
}

.home-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 300px;
  margin-right: 1400px;
  margin-top: 80px;
  margin-bottom: 20px;
  justify-content: space-between;
  gap: 40px;
}

.home-frame {
  padding: 20px;
  border: 1px solid #7c018f;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
}

.home-heading {
  color: #a703c0;
  font-size: 1.5rem;  
  margin-bottom: 10px;
}

.home-paragraph {
  color: #621397;
  font-size: 1rem;
  margin-bottom: 20px;
}

.home-button {
  padding: 0.5rem 3rem;
  background-color: rgb(154, 132, 190);
  border: none;
  border-radius: 10rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  color: #621397;
  transition: 0.5s ease-in-out;
}

.home-button:hover {
  background-color: #a703c0;
  color: white;
}

.home-pipelines {
  margin-top: -548px;
  margin-bottom: 20px;
  margin-left: 800px;
}

.home-pipe-frame {
  padding: 20px;
  border: 1px solid #7c018f;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  margin-top: 80px;
  margin-bottom: 20px;

}

.pipeline-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pipeline-item {
  margin-bottom: 10px;
  color: #621397;
  font-size: 1rem;
}

.home-footer {
  gap: 60px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 550px;
  margin-left: 500px;
  display: flex;
  align-items: flex-start;
}

.projectcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.projectcard {
  padding: 20px;
  border: 1px solid #7c018f;
  border-radius: 10px;
  margin-top: 50px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  width: 1000px;
}

.projectcard:hover {
  background-color: rgba(235, 139, 187, 0.5);
}

.project-name {
  font-size: 2rem;
  font-weight: bold;
  color: #a703c0;
  margin-bottom: 10px;
}

.projectcard .title {
  margin-bottom: 7px;
  color: #7c018f;
  font-size: 1.1rem;
}

.projectcard .project-id {
  font-weight: bold;
  color: #7c018f;
  font-size: 1.1rem;
  margin-bottom: 10px;
  margin-top: 7px;
}

.projectcard .project-id span {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

.projectcard .title span {
  color: black;
  text-decoration: underline;
}

.delete-project-button {
  border: none;
  background-color: #7c018f;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: 0.5s ease-in-out;
}

.delete-project-button:hover {
  background-color: rgb(135, 88, 146);
  color: #4a2250;
}

.project-frame {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #7c018f;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 70px;
  margin-right: 1200px;
  width: 600px;
  height: 200px;
}

.project-frame h2 {
  margin-bottom: 10px;
}

.project-frame p {
  margin-bottom: 5px;
}

.project-frame button {
  margin-top: 10px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 33, 33, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  max-width: 400px;
  padding: 20px;
  background-color: #6e0c0c;
  border-radius: 5px;
}

.popup-content h3 {
  margin-top: 0;
}

.popup-content button {
  margin-top: 10px;
}

.close-button {
  position: absolute;
  background-color: #7c018f;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 700px;
}

.close-button:hover {
  background-color: rgb(128, 105, 156);
}

.edit-project-name span {
  color: #7c018f;
  font-weight: bold;
  font-size: 1.6rem;
}

.edit-project-thing span {
  color: black;
  text-decoration: underline;
  font-size: 1.2rem;
}

.edit-project-button {
  border: none;
  background-color: rgb(154, 132, 190);
  padding: 5px;
  cursor: pointer;
  color: white;
  transition: 0.5s ease-in-out;
}

.edit-project-button:hover {
  background-color: rgba(255,173,214,1);
  color: black;
}

.pipelinecontainer {
  padding: 20px;
  border: 1px solid #7c018f;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  max-height: 500px;
  margin-top: -258px;
  margin-left: 900px;
}

.pipelines-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pipelinecard {
  margin-bottom: 10px;
  color: #621397;
  font-size: 1rem;
}

.pipeline-head {
  color: #7c018f;
  font-weight: bold;
  font-size: 1.6rem;
}

.add-pipelines {
  border: none;
  background-color: rgb(154, 132, 190);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: 0.5s ease-in-out;
}

.add-pipelines:hover {
  background-color:#7c018f;
}

.create-pipe-project-container {
  margin-right: 1200px;
  margin-top: 200px;
}

.create-pipe-project-pipe-container {
  padding: 5rem; 
  border: 1px solid #7c018f; 
  background-color: rgb(155, 114, 151);
  border-radius: 10px;
  margin: 0.5rem;
  color: #7c018f;
  margin-top: 100px;
}

.create-pipe-project-form{
  display: flex;
  flex-direction: column;
}
.pipeline-state {
  color: #ca3113;
  margin-left: 10px;
}
.pipe-frame {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #7c018f;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 70px;
  margin-right: 110px;
  width: 500px;
  height: 279px;
}

.pipe-project-thing {
  margin-top: 222px;
}

.edit-project-pipe-thing {
  margin-top: 67px;
}

.edit-project-pipe-thing span {
  color: black;
  text-decoration: underline;
  font-size: 1.2rem;
}

.run-pipeline-button {
  border: none;
  background-color: rgb(154, 132, 190);
  padding: 5px;
  cursor: pointer;
  color: white;
  transition: 0.5s ease-in-out;
  margin-top: 20px;
}

.run-pipeline-button:hover {
  background-color: rgba(255,173,214,1);
  color: black;
}

.pipeline-state {
  color:#7c018f;
  font-size: 1.2rem;
  margin-right: 10px;
}