body {
  margin: 0;
  padding: 0;
}

.home-container {
  background-color: #ffc0cb;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100vh; /* ide preko cijelog pagea, hopefully je i tebi tako a nije samo na mom monitoru idk reci mi*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-container h1 {
  margin-top: 0; /* bez smrdljive margine */
  font-size: 3rem;
}

.home-container p {
  margin-top: 20px;
  font-size: 1.5rem;
}

.login-button {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none; /* ako vidis ovo mozes styleat nisam ga ni dirala */
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
}

.homepage-button {
  display: block;
  margin: 0 auto;
  padding: 12px 24px;
  font-size: 1.2rem;
  font-weight: bold;  /* ako vidis ovo mozes styleat nisam ga ni dirala */
  color: #fff;
  background-color: #6C63FF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.homepage-button:hover {
  background-color: #534dc3; 
}

.register-modal .modal-dialog {
  max-width: 500px;
}

.register-modal .modal-header {
  background-color: #6C63FF;
  color: #fff;
  border-bottom: none;
}

.register-modal .modal-title {
  font-weight: bold;
}

.register-modal .modal-body {
  background-color: #fff;
  padding: 20px;
}

.register-modal .btn-primary {
  background-color: #6C63FF;
  border: none;
  font-weight: bold;
  border-radius: 5px;  /* svi modal bullshiti su apparently popups, al posto se modal uvijek show upa dole to vjv causea one issues da se pojavljuju random buttoni,
   tkd nek stoji sve zasad*/
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.register-modal .btn-primary:hover {
  background-color: #534dc3;
}